
DEEPSEEK_API_KEY=
PORT=8080

# Supabase keys
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY_PUBLIC=
SUPABASE_SERVICE_ROLE_KEY_SECRET=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_LIGHT=
STRIPE_PRICE_ID_BASIC=
STRIPE_PRICE_ID_FULL=
STRIPE_PRICE_ID_HEAVY=

# Frontend URL for Stripe checkout redirect
FRONTEND_URL=http://localhost:3001

GITHUB_DOWNLOAD_TOKEN=
GITHUB_REPO_OWNER=AbeApple
GITHUB_REPO_NAME=scribefold-ai-monorepo
RESEND_KEY=
EMAIL_FROM=
WEB_PORTAL_URL=


